body {
    background-color:rgba(153, 33, 33, 0.44);
    background-image: url(https://ca-times.brightspotcdn.com/dims4/default/129d07e/2147483647/strip/true/crop/1421x1351+0+0/resize/840x799!/quality/90/?url=https%3A%2F%2Fcalifornia-times-brightspot.s3.amazonaws.com%2Fc1%2F99%2F95996981234386c4e0a3e46464df%2Fsdut-tomato-a-20160902);
    
}

img {
    opacity: 0.1;
}

.container {
    display: block; 
    background-color: black;
    color: white;
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.row {
    text-align: center;
}

.bigColumn{
    display: inline-block;
    width: 100px;
    height: 30px;
    background-color: #479e6a;
    margin-left: 80px;
    margin-right: 80px;
    padding-bottom: 5px;
    font-size: 20px;
}

.smallColumn {
    display: inline-block;
    width: 50px;
    height: 33px;
    background-color: rgb(16, 105, 20, 0);
    margin-right: 15px;
    margin-left: 15px;
    padding: 5px;
    border-radius: 10%;
}

button {
    transition-duration: 0.2s;
}

button:hover {
    background-color: #35774f;
}

button:active {
    background-color: white;
}

#title {
    margin-top: 150px;
    padding-top: 30px;
    font-size: 50px;
    font-weight: 300;
}

#upper {
    height: 100px;
    padding-bottom: 15px;
    margin-bottom: 15px;;
}
#breakDisplay, #sessionDisplay {
    font-size: 30px;
}

#upper .row {
    padding-top: 5px;

}
#upper .bigColumn {
    font-size: 30px;
    background-color: transparent;
    padding-bottom: 2px;
    text-shadow: black;
}

#upper button {
    width: 100%;
    height: 15px;
    border: none;
    background-color: black;
    outline: none;
    color: white;
}

span {
    padding-right: 4px;
}

.sessionButtons {
    position: relative;
    float: left;
    left: 80px;
    top: 20px;
}

.breakButtons {
    position: relative;
    float: right;
    right: 80px;
    top: 20px;
}


#lower {
    height: 200px;
}
#upperButtons {
    position: relative;
    top: 10px;
}

#session {
    position: relative;
    font-size: 40px;
    top: 10px;
}

#timer {
    position: relative;
    top: 13px;
}

#lowerButtons {
    margin-top: 20px;
}

#lower button {
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 2px;
}

#lower .bigColumn {
    color: white;
}

#timer {
    font-size: 50px;;
}

.chevron::before {
	border-style: solid;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 0.45em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 0.45em;
}

.chevron.bottom:before {
	top: 0;
	transform: rotate(135deg);
}

